@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme {
  
  --font-display: 'Lobster', cursive;
  --breakpoint-*: initial;
  --breakpoint-sm: 300px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;
  --breakpoint-xxl: 1440px;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  
}
body{
  @apply bg-green-950 text-white ;
}
.nav-link{
  @apply text-lg font-bold duration-300  ;
}
.nav-link:hover{
  @apply text-yellow-500;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.my-element {
  animation: move 2s linear infinite;
}
